@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-bottom: 80px;
    box-sizing: border-box;
}

header {
    background-color: rgb(9, 235, 178);
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo img {
    height: 70px;
    mix-blend-mode: multiply;
}

nav {
    flex: 1;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    color: #686666;
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

/* ÍCONE MENU */
.menu-icon {
    display: fixed; 
    cursor: pointer;
    width: 30px;
    height: auto;
    position: fixed;
    top: 45px;
    right: 20px;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    margin-top: -11px;
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #69f5bf;
    padding: 10px;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}


.dropdown:hover .dropdown-menu {
    display: block;
}

/*CENTRALIZANDO DROPDOWN*/
.dropdown-menu.centered {
    left: 50%;
    transform: translateX(-50%);
}

.nav-link {
    position: relative; 
}

.nav-link .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}

.main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px; 
    right: 0;
    background-color: rgb(9, 235, 178);
    width: 100%;
}

.main-menu.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    background-color: rgb(9, 235, 178);
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 15%;
    font-size: 45px;
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: -20px;
    font-size: 20px;
    text-align: center;
    color: #706e6e;
    font-family: Arial, Helvetica, sans-serif;
}

.secao-2 p{
    color: #242323;
    margin-left: 50px;
    font-size: 17px;
    margin-right: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.secao-2 h3 {
    margin-left: 50px;
    font-size: 25px;
    margin-bottom: -8px;
    font-family: Arial, Helvetica, sans-serif;
}

.secao-3 h4 {
    margin-top: -8px;
    text-align: center;
    font-size: 25px;
    color: #494848;
}

.secao-3 p {
    text-align: center;
    margin-left: 65px;
    margin-right: 65px;
    font-size: 18px;
}



main {
    padding: 20px;
}

.secao-2 img{
    max-width: 30%; 
    margin-left: 35%;
    margin-top: -20px;
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s;
}

section {
    margin-bottom: 20px;
}


.img-page {
    flex: 0 0 20%;
    max-width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.img-page img {
    max-width: 100%;
    max-height: 100%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap: 30px; 
    padding: 20px; 
}

.img-page2 {
    flex: 0 0 20%;
    max-width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    position: relative; 
}

.img-page2 img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.2s, box-shadow 0.2s;
}
.img-page2 img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.footer {
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(35, 36, 35);
    background-color: #69f5bf;
    z-index: 100;
}

iframe {
   margin-left: 140px;
   align-items: center;
}

.voltar {
    text-align: center;
}

.voltar a{
    color: green;
}

/* RESPONSIVO */
@media screen and (max-width: 768px) {

    .secao-2 p, .secao-2 h3, .secao-3 p {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;
    }

    .secao-3 h4 {
        font-size: 22px;
    }

    .secao-2 img {
        max-width: 60%;
        margin-left: 20%;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        width: 30px;
        height: auto;
        position: fixed;
        top: 15px;
        right: 20px;
        z-index: 1001;
    }

    header {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    #main-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgb(9, 235, 178);
    }

    #main-menu.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    nav ul li a:hover {
        color: #666;
    }

    h1 {
        font-size: 30px;
        margin-left: 20px;
        margin-top: 30%;
    }

    .sidebar-left, .sidebar-right {
        width: 100%;
        padding: 10px;
        margin-left: 0;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-left: -95%;
        margin-bottom: 10px;
    }

    .logo img {
        height: 50px;
        margin-left: 0;
    }

    nav {
        position: static;
        margin-top: 0;
    }

      .dropdown-menu {
        top: 100%; 
    }    

    .footer {
        text-align: center;
    }

    .voltar {
        text-align: center;
        margin-left: -5px;
    }
    h1 {
        font-size: 5%x;
        margin-top: 20%;
    }

    h2 {
        margin-bottom: 10px;
    }

    .center-text {
        font-size: 24px;
        width: 100%;
        max-width: 250px;
        height: 60px;
    }

    .img-page,
    .img-page2 {
        flex: 0 0 100%;
        max-width: 100%;
        height: auto;
        margin: 10px;
    }
}    

@media screen and (max-width: 700px) {
    nav ul.main-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 35px;
        background-color: #69f5bf;
    }

    nav ul.main-menu.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
    }
    

    h1 {
        font-size: 35px;
        margin-top: 15%;
    }

    h2 {
        font-size: 18px;
        margin-top: -15px;
    }

    .secao-2 p {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .secao-2 h3 {
        font-size: 20px;
        margin-left: 20px;
    }

    .secao-3 h4 {
        font-size: 20px;
    }

    .secao-3 p {
        font-size: 16px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .secao-2 img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .img-page, .img-page2 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }

    iframe {
        margin-left: 20px;
    }
}

@media screen and (max-width: 600px) {
    nav ul.main-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 35px;
        background-color: #69f5bf;
    }

    nav ul.main-menu.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
    }
    
    h1 {
        font-size: 30px;
        margin-top: 140px; /
    }

    h2 {
        font-size: 16px;
        margin-top: -10px;
    }

    .secao-2 p {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .secao-2 h3 {
        font-size: 18px;
        margin-left: 15px;
        text-align: center;
    }

    .secao-3 h4 {
        font-size: 18px;
        text-align: center;
    }

    .secao-3 p {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .secao-2 img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
    }

    .img-page, .img-page2 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 5px 0;
        align-items: center;
    }

    iframe {
        margin-left: 2px;
    }
}

@media screen and (max-width: 470px) {
    nav ul.main-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 35px;
        background-color: #69f5bf;
    }

    nav ul.main-menu.show {
        display: flex;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        padding: 15px;
        border-bottom: 1px solid #fff;
    }

    .dropdown-menu {
        position: relative;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
    }
    
    h1 {
        font-size: 28px;
        margin-top: 110px; /* Ajuste a margem superior para não ficar grudado no header */
    }

    h2 {
        font-size: 16px;
        margin-top: -10px;
    }

    .secao-2 p {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .secao-2 h3 {
        font-size: 18px;
        margin-left: 15px;
        text-align: center;
    }

    .secao-3 h4 {
        font-size: 18px;
        text-align: center;
    }

    .secao-3 p {
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .secao-2 img {
        max-width: 100%;
        margin-left: 0;
        margin-top: 5px;
        text-align: center;
    }

    .img-page, .img-page2 {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 5px 0;
        align-items: center;
    }

    iframe {
        margin-left: -5px;
    }
}